.landAbout {
    width: 100%;
    padding: 160px 0 40px 0;
    overflow: hidden;
    @extend %reset;
    @extend %section;
    @include media(0, 1050px) {
        padding: 32px 0;
    }
    &__inner {
        align-items: center;
        @extend %reset;
        @extend %innerLand;
    }
    &__items {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 150px;
        padding: 0 50px;
        @extend %reset;
        @extend %row;
        @include media(0, 1050px) {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin-bottom: 64px;
            padding: 0;
        }
    }
    .land__section._anim &__item {
        opacity: 1;
    }
    &__item {
        align-items: center;
        width: 23%;
        min-width: 320px;
        margin: 0 1% 64px 1%;
        opacity: 0;
        transition: $trans;
        @extend %reset;
        @extend %col;
        @include media(0, 1050px) {
            width: 100%;
            min-width: auto;
            margin: 0;
            &+& {
                margin-top: 32px;
            }
        }
        &:nth-child(1) {
            transition-delay: .1s;
        }
        &:nth-child(2) {
            transition-delay: .15s;
        }
        &:nth-child(3) {
            transition-delay: .2s;
        }
        &:nth-child(4) {
            transition-delay: .25s;
        }
        &Icon {
            width: 116px;
            height: 116px;
            margin-bottom: 46px;
            object-fit: contain;
            transform: scale(2);
            @extend %reset;
            @include media(0, 1050px) {
                width: 72px;
                height: 72px;
                margin-bottom: 24px;
            }
        }
        &Title {
            max-width: 100%;
            margin-bottom: 18px;
            color: #f8f8f8;
            font-size: 22px;
            font-family: 'Medium';
            text-align: center;
            @extend %reset;
        }
        &Description {
            max-width: 100%;
            color: #f8f8f8;
            font-size: 18px;
            font-family: 'Light';
            line-height: 1.2;
            text-align: center;
            @extend %reset;
            @include media(0, 1050px) {
                font-size: 15px;
                line-height: 1.3;
            }
            @include media(0, 800px) {
                max-width: 80%;
            }
        }
    }
    &__games {
        justify-content: space-between;
        width: 100%;
        min-width: 1560px;
        padding: 0 40px;
        @extend %reset;
        @extend %row;
        @include media(0, 1050px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-width: auto;
            padding: 0;
        }
    }
    &__game {
        display: block;
        width: 50%;
        @extend %reset;
        @include media(0, 1050px) {
            width: 100%;
            &+& {
                margin-top: 32px;
            }
        }
        &Input {
            display: none;
        }
        &View {
            position: relative;
            align-items: center;
            width: 100%;
            @extend %reset;
            @extend %col;
            @extend %click;
        }
        &Preview {
            position: relative;
            width: 100%;
            height: 500px;
            margin-bottom: 64px;
            transform: scale(1.07);
            @extend %reset;
            @include media(0, 1050px) {
                height: 50vw;
                margin-bottom: 16px;
                transform: scale(1);
            }
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid $colorMain;
                opacity: 0;
                transition: $trans;
                content: "";
                @extend %reset;
            }
        }
        &._dota &View {
            @include media(1051px, 1200px) {
                align-items: flex-end;
            }
        }
        &._cs &View {
            @include media(1051px, 1200px) {
                align-items: flex-start;
            }
        }
        &Link {
            position: absolute;
            bottom: 28px;
            left: 50%;
            z-index: 3;
            color: $colorMain;
            font-size: 19px;
            font-family: 'Regular';
            white-space: nowrap;
            transform: translate(-50%, 0);
            visibility: hidden;
            opacity: 0;
            transition: $trans;
            @extend %reset;
            @extend %click;
            @include media(0, 1050px) {
                bottom: 14px;
                font-size: 15px;
            }
        }
        &._dota &Link {
            @include media(1051px, 1200px) {
                right: 120px;
                left: auto;
                transform: translate(0, 0);
            }
        }
        &._cs &Link {
            @include media(1051px, 1200px) {
                left: 120px;
                transform: translate(0, 0);
            }
        }
        &Input:checked~&View &Link {
            visibility: visible;
            opacity: 1;
        }
        &Input:checked~&View &Preview::before {
            @include media(0, 1050px) {
                opacity: 1;
            }
        }
        &Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center bottom;
            @extend %reset;
            @include media(0, 1050px) {
                object-fit: cover;
            }
            &._desktop {
                @include media(0, 1050px) {
                    display: none;
                }
            }
            &._mob {
                @include mediaMin(1050px) {
                    display: none;
                }
            }
        }
        &._dota &Back {
            margin-top: 4px;
        }
        &._cs &Back {
            margin-top: 10px;
        }
        &Back {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: calc(100% + 74px);
            height: calc(100% + 74px);
            object-fit: contain;
            object-position: center bottom;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: $trans;
            @extend %reset;
            @include media(0, 1050px) {
                display: none;
            }
        }
        &Input:checked~&View &Back {
            opacity: 1;
        }
        &Name {
            max-width: 100%;
            color: #f8f8f8;
            font-size: 36px;
            font-family: 'Regular';
            text-align: center;
            transition: $trans;
            @extend %reset;
            @include media(0, 1050px) {
                font-size: 16px;
            }
        }
        &._dota &Name {
            @include media(1051px, 1200px) {
                padding-right: 100px;
            }
        }
        &._cs &Name {
            @include media(1051px, 1200px) {
                padding-left: 100px;
            }
        }
        &Input:checked~&View &Name {
            color: $colorMain;
        }
    }
}