.ant-spin-lg .ant-spin-dot {
    font-size: 90px;
}

.ant-spin-lg .ant-spin-dot i {
    width: 35px;
    height: 35px;
}

.ant-spin-dot-item {
    background-color: #fac704;
}
.ant-spin {
    color: #fac704;
}