@mixin namePage($name) {
    .body__inner.#{$name} & {
        @content;
    }
}

.body {
    width: 100%;
    font-family: 'Regular';
    background: #0e0e0e;
    -webkit-text-size-adjust: none;
    @extend %reset;
    @extend %noscroll;
    &__inner {
        width: 100%;
        @extend %reset;
    }
    &__content {
        width: 100%;
        padding: $heightTopBar 0 0 0;
        @extend %reset;
        @include namePage('_cabinet') {
            padding-left: $widthSideBar;
            @include media(0, 800px) {
                padding-left: 0;
            }
        }
        @include namePage('_withCalibration') {
            padding-bottom: $heightCalibration;
            @include media(0, 800px) {
                padding-bottom: 0;
            }
        }
        @include namePage('_withChat') {
            // padding-right: $widthChatBar;
        }
        @include media(0, 800px) {
            padding: 32px 0 0 0;
            @include namePage('_auth') {
                padding-top: 0;
            }
        }
    }
    &__inner._land &__content {
        padding-top: 0;
    }
    &__topBar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: $heightTopBar;
        @extend %reset;
        @include media(0, 800px) {
            display: none;
        }
    }
    &__sideBar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: $widthSideBar;
        height: $heightTopBar;
        overflow: hidden;
        @extend %reset;
        @include namePage('_cabinet') {
            height: 100%;
        }
        @include media(0, 800px) {
            top: $heightMobileBar;
            width: 100%;
            background: rgba(#0e0e0e, .8);
            transform: translate(0, -100%);
            transition: $trans;
            will-change: transform;
            @include blur(20px);
            @include namePage('_auth') {
                display: none;
            }
            &._show {
                transform: translate(0, 0);
            }
        }
    }
    &__popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        padding: $heightTopBar 0 0 $widthSideBar;
        @extend %reset;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            content: "";
            @include blur(10px);
        }
    }
    &__section {
        width: 100%;
        height: 100%;
        @extend %reset;
    }
    &__absBlock {
        position: fixed;
        z-index: 99;
        @extend %reset;
    }
    &__calibration {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: $heightCalibration;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @extend %reset;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: rgba(241, 57, 57, 0.2);
            content: "";
            @include blur(120px);
        }
    }
    &__chatBar {
        position: fixed;
        top: $heightTopBar;
        right: 0;
        z-index: 9;
        width: $widthChatBar;
        height: calc(100vh - #{$heightTopBar});
        @extend %reset;
    }
    &__chatSupport {
        position: fixed;
        right: 76px;
        bottom: 148px;
        z-index: 12;
        width: 58px;
        height: 58px;
        @extend %reset;
        @include media(0, 800px) {
            right: 0;
            bottom: 16px;
        }
        &._fullSize {
            top: $heightTopBar;
            right: 0;
            bottom: auto;
            width: 400px;
            height: calc(100vh - #{$heightTopBar});
            @include media(0, 800px) {
                top: 0;
                width: 100%;
                height: 100vh;
            }
        }
    }
    &__mobileBar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        display: none;
        width: 100%;
        height: $heightMobileBar;
        @extend %reset;
        @include media(0, 800px) {
            display: block;
            @include namePage('_auth') {
                display: none;
            }
        }
    }
}