.icon {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    @extend %col;
    & svg {
        width: 100%;
        height: 100%;
    }
    &__path,
    &__stroke {
        width: 100%;
        height: 100%;
        transition: $trans;
    }
}