.scheduleCard {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    @extend %reset;
    @extend %row;
    &__item {
        align-items: center;
        @extend %reset;
        @extend %row;
        &._info {
            width: 20%;
        }
        &._content {
            justify-content: center;
            width: 60%;
        }
        &._stage {
            width: 20%;
        }
    }
    &__time {
        margin-right: 16px;
        color: #f8f8f8;
        font-size: 16px;
        font-family: 'Regular';
        @extend %reset;
    }
    &__link {
        color: #f8f8f8;
        font-size: 16px;
        font-family: 'Regular';
        @extend %reset;
    }
    &__online {
        position: relative;
        padding-left: 18px;
        color: $colorError;
        font-size: 16px;
        font-family: 'Regular';
        @extend %reset;
        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 10px;
            height: 10px;
            background: $colorError;
            border-radius: 50%;
            transform: translate(0, -50%);
            content: "";
        }
    }
    &__stage {
        margin-left: auto;
        color: #606060;
        font-size: 16px;
        font-family: 'Regular';
        @extend %reset;
    }
    &__teams {
        align-items: center;
        justify-content: center;
        width: 100%;
        @extend %reset;
        @extend %row;
        &Item {
            align-items: center;
            width: calc(calc(100% - 64px) / 2);
            @extend %reset;
            @extend %row;
            &._first {
                justify-content: flex-end;
            }
            &Avatar {
                width: 42px;
                height: 30px;
                object-fit: contain;
                @extend %reset;
            }
            &Avatar+&Name,
            &Name+&Avatar {
                margin-left: 20px;
            }
            &Rate {
                color: #606060;
                font-size: 16px;
                font-family: 'Regular';
                @extend %reset;
            }
            &Rate+&Name,
            &Name+&Rate {
                margin-left: 20px;
            }
            &._win &Name {
                color: $colorSuccess;
            }
            &Name {
                color: #f8f8f8;
                font-size: 18px;
                font-family: "Regular";
                @extend %reset;
            }
        }
        &Result {
            width: 64px;
            margin: 0 16px;
            color: #f8f8f8;
            font-size: 24px;
            font-family: 'Medium';
            letter-spacing: 2px;
            text-align: center;
            @extend %reset;
        }
    }
}