.select {
    position: relative;
    width: 100%;
    @extend %reset;
    &__view {
        position: relative;
        z-index: 1;
        align-items: center;
        width: 100%;
        padding-right: 18px;
        color: #f8f8f8;
        font-size: 18px;
        font-family: 'Regular';
        border-radius: 4px;
        @extend %reset;
        @extend %click;
        @extend %row;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            display: none;
            width: calc(100% + 18px);
            height: calc(100% + 18px);
            background: #3F3D46;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            content: "";
        }
        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 10px;
            margin-top: -2px;
            border: 2px solid transparent;
            border-right-color: #fff;
            border-bottom-color: #fff;
            transform: translate(0, -50%) rotate(45deg);
            content: "";
            @extend %reset;
        }
    }
    &._show &__view::before {
        display: block;
    }
    &__lang {
        width: 34px;
        height: 22px;
        margin-right: 10px;
        object-fit: contain;
    }
    &__drop {
        position: absolute;
        top: 100%;
        left: -9px;
        z-index: 10;
        width: 278px;
        margin-top: 16px;
        padding: 16px;
        background: rgba(#1a1a1a, 0.5);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        @extend %reset;
        @include blur(120px);
        &Search {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 38px;
            margin: -8px 0 24px 0;
            padding: 6px 6px 6px 36px;
            border-bottom: 1px solid #606060;
            @extend %reset;
            &Icon {
                position: absolute;
                top: 50%;
                left: 6px;
                z-index: 1;
                width: 20px;
                height: 20px;
                transform: translate(0, -50%);
                @extend %reset;
                @include icon(#BFBFBF);
            }
            &Input {
                width: 100%;
                height: 100%;
                color: #f8f8f8;
                font-size: 16px;
                font-family: 'Regular';
                @extend %reset;
                &::-webkit-input-placeholder {
                    color: #BFBFBF;
                }
            }
        }
        &Items {
            width: 100%;
            max-height: 220px;
            padding-right: 16px;
            overflow-y: auto;
            @extend %reset;
            @extend %scroll;
        }
        &Item {
            position: relative;
            align-items: center;
            width: 100%;
            color: #f8f8f8;
            font-size: 16px;
            font-family: 'Regular';
            @extend %reset;
            @extend %click;
            @extend %row;
            &+& {
                margin-top: 22px;
            }
        }
        &Done {
            position: absolute;
            top: 50%;
            right: 0;
            width: 20px;
            height: 20px;
            transform: translate(0, -50%);
            @extend %reset;
            @include icon(#fff);
        }
    }
}