.streamCard {
    width: 100%;
    height: 100%;
    @extend %reset;
    &__preview {
        width: 100%;
        height: 292px;
        @extend %reset;
        @include media(0, 800px) {
            height: 50vw;
        }
        &Image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @extend %reset;
        }
    }
    &__content {
        align-items: center;
        width: 100%;
        padding: 16px 17px;
        background: rgba(#f8f8f8, .05);
        border-top: 1px solid $colorMain;
        @extend %reset;
        @extend %row;
        @include media(0, 1550px) {
            flex-direction: column;
        }
    }
    &__teams {
        align-items: center;
        @extend %reset;
        @extend %row;
        @include media(0, 1550px) {
            width: 100%;
            margin-bottom: 12px;
        }
        @include media(0, 800px) {
            flex-direction: column;
            align-items: flex-start;
        }
        &Item {
            align-items: center;
            @extend %reset;
            @extend %row;
        }
        &Logo {
            width: 27px;
            height: 21px;
            margin-right: 10px;
            object-fit: contain;
            @extend %reset;
            @include media(0, 800px) {
                width: 28px;
                height: 28px;
                margin-right: 6px;
            }
        }
        &Name {
            color: #f8f8f8;
            font-size: 20px;
            font-family: 'Regular';
            @extend %reset;
            @include media(0, 800px) {
                font-size: 18px;
            }
        }
        &Del {
            margin: 0 16px;
            color: #f8f8f8;
            font-size: 20px;
            font-family: 'Regular';
            @extend %reset;
            @include media(0, 800px) {
                margin: 12px 0;
                font-size: 18px;
            }
        }
    }
    &__stage {
        margin-left: auto;
        color: #606060;
        font-size: 16px;
        font-family: 'Regular';
        @extend %reset;
    }
}